In [3]:
!ls -lah

total 521M
drwxr-xr-x 3 root root 4.0K Nov  2 19:34 .
drwxr-xr-x 1 root root 4.0K Nov  2 02:37 ..
drwxr-xr-x 2 root root 4.0K Nov  2 19:32 .ipynb_checkpoints
-rw-r--r-- 1 root root 2.3K Nov  2 19:34 Untitled.ipynb
-rw-r--r-- 1 root root  11M Jan 12  2023 ghcnd-stations.txt
-rw-r--r-- 1 root root 511M Mar  4  2023 sf.zip
-rw-r--r-- 1 root root  21K Nov  2 19:31 spark_dataframes_1.ipynb
-rw-r--r-- 1 root root  36K Nov  2 02:50 spark_demo_1.ipynb
-rw-r--r-- 1 root root  13K Nov  2 03:48 spark_demo_2.ipynb

In [2]:
! wget -nc https://pages.cs.wisc.edu/~harter/cs544/data/sf.zip

--2023-11-02 19:33:37--  https://pages.cs.wisc.edu/~harter/cs544/data/sf.zip
Resolving pages.cs.wisc.edu (pages.cs.wisc.edu)... 128.105.7.9
Connecting to pages.cs.wisc.edu (pages.cs.wisc.edu)|128.105.7.9|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 534803160 (510M) [application/zip]
Saving to: ‘sf.zip’

sf.zip              100%[===================>] 510.03M  8.14MB/s    in 38s

2023-11-02 19:34:15 (13.5 MB/s) - ‘sf.zip’ saved [534803160/534803160]

In [6]:
# The Spark session is a little different this time
# adding the Hive warehouse option (treat HDFS files as if they are SQL tables in a database)
from pyspark.sql import SparkSession
spark = (SparkSession.builder.appName("cs544")
         .master("spark://boss:7077")
         .config("spark.executor.memory", "512MB")   # needed to increase this memory to fix the error (minimum of 450 MB)
         .config("spark.sql.warehouse.dir", "hdfs://nn:9000/user/hive/warehouse")
         .enableHiveSupport()
         .getOrCreate())

23/11/02 19:38:44 WARN SparkContext: Another SparkContext is being constructed (or threw an exception in its constructor). This may indicate an error, since only one SparkContext should be running in this JVM (see SPARK-2243). The other SparkContext was created at:
org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:490)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
py4j.Gateway.invoke(Gateway.java:238)
py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
py4j.ClientServerConnection.run(ClientServerConnection.java:106)
java.base/java.lang.Thread.run(Thread.java:829)

In [5]:
# minimum Spark executor memory needed (from error) in MB = 450 MB
471859200 / 1024**2

450.0

In [10]:
! apt-get install unzip

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  zip
The following NEW packages will be installed:
  unzip
0 upgraded, 1 newly installed, 0 to remove and 0 not upgraded.
Need to get 174 kB of archives.
After this operation, 385 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 unzip amd64 6.0-26ubuntu3.1 [174 kB]
Fetched 174 kB in 1s (242 kB/s)
debconf: delaying package configuration, since apt-utils is not installed
Selecting previously unselected package unzip.
(Reading database ... 20105 files and directories currently installed.)
Preparing to unpack .../unzip_6.0-26ubuntu3.1_amd64.deb ...
Unpacking unzip (6.0-26ubuntu3.1) ...
Setting up unzip (6.0-26ubuntu3.1) ...

In [11]:
! unzip sf.zip

Archive:  sf.zip
  inflating: sf.csv

In [12]:
! hdfs dfs -cp sf.csv hdfs://nn:9000/

In [13]:
! hdfs dfs -ls hdfs://nn:9000/

Found 2 items
-rw-r--r--   3 root supergroup   10607756 2023-11-02 04:06 hdfs://nn:9000/ghcnd-stations.txt
-rw-r--r--   3 root supergroup 2265533682 2023-11-02 20:24 hdfs://nn:9000/sf.csv

In [15]:
df = spark.read.format("csv").load("hdfs://nn:9000/sf.csv")

In [17]:
df.limit(3).toPandas()    # Header row not being treated as a header

23/11/02 20:40:34 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,_c25,_c26,_c27,_c28,_c29,_c30,_c31,_c32,_c33,_c34
0,Call Number,Unit ID,Incident Number,Call Type,Call Date,Watch Date,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,...,Call Type Group,Number of Alarms,Unit Type,Unit sequence in call dispatch,Fire Prevention District,Supervisor District,Neighborhooods - Analysis Boundaries,RowID,case_location,Analysis Neighborhoods
1,221210313,E36,22054955,Outside Fire,05/01/2022,04/30/2022,05/01/2022 02:58:25 AM,05/01/2022 02:59:15 AM,05/01/2022 02:59:25 AM,05/01/2022 03:01:06 AM,...,Fire,1,ENGINE,1,2,5,Hayes Valley,221210313-E36,POINT (-122.42316555403964 37.77781524520032),9
2,220190150,E29,22008871,Alarms,01/19/2022,01/18/2022,01/19/2022 01:42:12 AM,01/19/2022 01:44:13 AM,01/19/2022 01:44:28 AM,01/19/2022 01:46:47 AM,...,Alarm,1,ENGINE,1,3,10,Potrero Hill,220190150-E29,POINT (-122.39469970274361 37.76460987856451),26

In [18]:
#df = spark.read.format("csv").option(KEY, VALUE).load("hdfs://nn:9000/sf.csv")
df = (spark.read.format("csv")
      .option("header", True)
      .load("hdfs://nn:9000/sf.csv"))

In [19]:
df.limit(3).toPandas()    #  Now the header is loaded in properly

,Call Number,Unit ID,Incident Number,Call Type,Call Date,Watch Date,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,...,Call Type Group,Number of Alarms,Unit Type,Unit sequence in call dispatch,Fire Prevention District,Supervisor District,Neighborhooods - Analysis Boundaries,RowID,case_location,Analysis Neighborhoods
0,221210313,E36,22054955,Outside Fire,05/01/2022,04/30/2022,05/01/2022 02:58:25 AM,05/01/2022 02:59:15 AM,05/01/2022 02:59:25 AM,05/01/2022 03:01:06 AM,...,Fire,1,ENGINE,1,2,5,Hayes Valley,221210313-E36,POINT (-122.42316555403964 37.77781524520032),9
1,220190150,E29,22008871,Alarms,01/19/2022,01/18/2022,01/19/2022 01:42:12 AM,01/19/2022 01:44:13 AM,01/19/2022 01:44:28 AM,01/19/2022 01:46:47 AM,...,Alarm,1,ENGINE,1,3,10,Potrero Hill,220190150-E29,POINT (-122.39469970274361 37.76460987856451),26
2,211233271,T07,21053032,Alarms,05/03/2021,05/03/2021,05/03/2021 09:28:12 PM,05/03/2021 09:28:12 PM,05/03/2021 09:28:17 PM,05/03/2021 09:29:10 PM,...,Alarm,1,TRUCK,2,2,9,Mission,211233271-T07,POINT (-122.42057572093252 37.76418194637148),20

In [20]:
df # but everything is a string (schema inference is not done by default because it's expensive)

DataFrame[Call Number: string, Unit ID: string, Incident Number: string, Call Type: string, Call Date: string, Watch Date: string, Received DtTm: string, Entry DtTm: string, Dispatch DtTm: string, Response DtTm: string, On Scene DtTm: string, Transport DtTm: string, Hospital DtTm: string, Call Final Disposition: string, Available DtTm: string, Address: string, City: string, Zipcode of Incident: string, Battalion: string, Station Area: string, Box: string, Original Priority: string, Priority: string, Final Priority: string, ALS Unit: string, Call Type Group: string, Number of Alarms: string, Unit Type: string, Unit sequence in call dispatch: string, Fire Prevention District: string, Supervisor District: string, Neighborhooods - Analysis Boundaries: string, RowID: string, case_location: string, Analysis Neighborhoods: string]

In [21]:
# This operation is much slower because we need a separate Spark job to do the schema inference
# 17 tasks total (17 partitions, Spark automatically chooses based on file size and workers available in the cluster)
df = (spark.read.format("csv")
      .option("header", True)
      .option("inferSchema", True)
      .load("hdfs://nn:9000/sf.csv"))

In [22]:
df    # Spark Schema Inference is still not smart enough to convert the dates from string to actual dates, so we need to manually fix this
# This is "Transformation" work (the T in ETL)
# Load (L) is into Parquet files

DataFrame[Call Number: int, Unit ID: string, Incident Number: int, Call Type: string, Call Date: string, Watch Date: string, Received DtTm: string, Entry DtTm: string, Dispatch DtTm: string, Response DtTm: string, On Scene DtTm: string, Transport DtTm: string, Hospital DtTm: string, Call Final Disposition: string, Available DtTm: string, Address: string, City: string, Zipcode of Incident: int, Battalion: string, Station Area: string, Box: string, Original Priority: string, Priority: string, Final Priority: int, ALS Unit: boolean, Call Type Group: string, Number of Alarms: int, Unit Type: string, Unit sequence in call dispatch: int, Fire Prevention District: string, Supervisor District: string, Neighborhooods - Analysis Boundaries: string, RowID: string, case_location: string, Analysis Neighborhoods: int]

#### How to transform data with functions on columns?

In [24]:
from pyspark.sql.functions import col, expr

In [25]:
col("Call Date")

Column<'Call Date'>

In [26]:
expr("Call Date")    # notice how expr thinks "Date" is an alias for "Call"

Column<'Call AS Date'>

In [29]:
# Selecting a column (specify column name using pyspark.sql.functions.col() ) works similar to SQL
example = (df.select(col("Call Date"))
            .limit(5)
            .toPandas())
example

    Call Date
0  05/01/2022
1  01/19/2022
2  05/03/2021
3  10/20/2021
4  04/30/2022

In [30]:
# Be careful when using pyspark.sql.functions.expr(); we get an error because of the aliasing the expression is trying to do
example = (df.select(expr("Call Date") )
            .limit(5)
            .toPandas())
example

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `Call` cannot be resolved. Did you mean one of the following? [`Box`, `City`, `Call Date`, `Call Type`, `RowID`].; line 1 pos 0;
'Project ['Call AS Date#426]
+- Relation [Call Number#348,Unit ID#349,Incident Number#350,Call Type#351,Call Date#352,Watch Date#353,Received DtTm#354,Entry DtTm#355,Dispatch DtTm#356,Response DtTm#357,On Scene DtTm#358,Transport DtTm#359,Hospital DtTm#360,Call Final Disposition#361,Available DtTm#362,Address#363,City#364,Zipcode of Incident#365,Battalion#366,Station Area#367,Box#368,Original Priority#369,Priority#370,Final Priority#371,... 11 more fields] csv

In [31]:
# Put your column name in backticks (`) when using pyspark.sql.functions.expr() if the column name has a space (good practice in general)
example = (df.select(expr("`Call Date`") )
            .limit(5)
            .toPandas())
example

    Call Date
0  05/01/2022
1  01/19/2022
2  05/03/2021
3  10/20/2021
4  04/30/2022

In [34]:
# We can alias columns in Spark DataFrames too
example = (df.select(expr("`Call Date`").alias("My Alias")) 
            .limit(5)
            .toPandas())
example

     My Alias
0  05/01/2022
1  01/19/2022
2  05/03/2021
3  10/20/2021
4  04/30/2022

In [38]:
# Let's convert the data type from string to date
example = (df.select(expr("to_date(`Call Date`, 'MM/dd/yyyy')").alias("Column formatted as Date now")) 
            .limit(5)
            .toPandas())
example

  Column formatted as Date now
0                   2022-05-01
1                   2022-01-19
2                   2021-05-03
3                   2021-10-20
4                   2022-04-30

#### Goal: Create a parquet file with this data, with no spaces in the column names

In [45]:
df.columns[ : 5]    # a list of strings (the column headers)

['Call Number', 'Unit ID', 'Incident Number', 'Call Type', 'Call Date']

In [46]:
[col(c) for c in df.columns][ : 5]    # get a Column object for each of the column names in the DataFrame

[Column<'Call Number'>,
 Column<'Unit ID'>,
 Column<'Incident Number'>,
 Column<'Call Type'>,
 Column<'Call Date'>]

In [47]:
columns = [col(c).alias(c.replace(' ', '_')) for c in df.columns]    # rename the columns by removing space and replacing with underscore
columns[ : 5]

[Column<'Call Number AS Call_Number'>,
 Column<'Unit ID AS Unit_ID'>,
 Column<'Incident Number AS Incident_Number'>,
 Column<'Call Type AS Call_Type'>,
 Column<'Call Date AS Call_Date'>]

In [49]:
df.select(columns)   # now our select is using the aliases we made and the output has no spaces in the column header

DataFrame[Call_Number: int, Unit_ID: string, Incident_Number: int, Call_Type: string, Call_Date: string, Watch_Date: string, Received_DtTm: string, Entry_DtTm: string, Dispatch_DtTm: string, Response_DtTm: string, On_Scene_DtTm: string, Transport_DtTm: string, Hospital_DtTm: string, Call_Final_Disposition: string, Available_DtTm: string, Address: string, City: string, Zipcode_of_Incident: int, Battalion: string, Station_Area: string, Box: string, Original_Priority: string, Priority: string, Final_Priority: int, ALS_Unit: boolean, Call_Type_Group: string, Number_of_Alarms: int, Unit_Type: string, Unit_sequence_in_call_dispatch: int, Fire_Prevention_District: string, Supervisor_District: string, Neighborhooods_-_Analysis_Boundaries: string, RowID: string, case_location: string, Analysis_Neighborhoods: int]

In [55]:
df.rdd.getNumPartitions()

17

In [57]:
# let's load our dataframe with underscore headers into a parquet file
# read data from file into a dataframe using spark.read (gives us a pyspark.sql.readwriter.DataFromeReader)
# write data from dataframe into file using df.write (gives us a pyspark.sql.readwriter.DataFrameWriter)

(df.select(columns)
 .limit(10)    # small amount to test
 .write
 .format("parquet")
 .save("hdfs://nn:9000/sf.parquet"))

# 17 tasks because Spark uses 17 partitions for the DataFrame

In [58]:
# Since the write for a small amount worked, let's try for the whole dataset
(df.select(columns)
 .write
 .format("parquet")
 .save("hdfs://nn:9000/sf.parquet"))

# ERROR: we have to specify if we want to overwrite the existing files

AnalysisException: [PATH_ALREADY_EXISTS] Path hdfs://nn:9000/sf.parquet already exists. Set mode as "overwrite" to overwrite the existing path.

In [59]:
(df.select(columns)
 .write
 .format("parquet")
 .mode("overwrite")    # could also be append (keep adding), ignore (do nothing if the file already exists), etc.
 .save("hdfs://nn:9000/sf.parquet"))

In [60]:
# So what do the parquet files that Spark wrote look like in HDFS?
! hdfs dfs -ls hdfs://nn:9000/    

# It's a directory called "sf.parquet", not a single file called "sf.parquet"!

Found 3 items
-rw-r--r--   3 root supergroup   10607756 2023-11-02 04:06 hdfs://nn:9000/ghcnd-stations.txt
-rw-r--r--   3 root supergroup 2265533682 2023-11-02 20:24 hdfs://nn:9000/sf.csv
drwxr-xr-x   - root supergroup          0 2023-11-02 21:24 hdfs://nn:9000/sf.parquet

In [61]:
# we have 17 different files, 1 per partition/Spark task
! hdfs dfs -ls hdfs://nn:9000/sf.parquet/

Found 18 items
-rw-r--r--   3 root supergroup          0 2023-11-02 21:24 hdfs://nn:9000/sf.parquet/_SUCCESS
-rw-r--r--   3 root supergroup   27805433 2023-11-02 21:22 hdfs://nn:9000/sf.parquet/part-00000-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   27788944 2023-11-02 21:22 hdfs://nn:9000/sf.parquet/part-00001-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   40477903 2023-11-02 21:22 hdfs://nn:9000/sf.parquet/part-00002-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   36016086 2023-11-02 21:22 hdfs://nn:9000/sf.parquet/part-00003-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   36031567 2023-11-02 21:22 hdfs://nn:9000/sf.parquet/part-00004-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   36080343 2023-11-02 21:23 hdfs://nn:9000/sf.parquet/part-00005-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   35943551 2023-11-02 21:23 hdfs://nn:9000/sf.parquet/part-00006-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   35910610 2023-11-02 21:23 hdfs://nn:9000/sf.parquet/part-00007-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   36435318 2023-11-02 21:23 hdfs://nn:9000/sf.parquet/part-00008-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   35366522 2023-11-02 21:23 hdfs://nn:9000/sf.parquet/part-00009-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   34237927 2023-11-02 21:23 hdfs://nn:9000/sf.parquet/part-00010-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   33947693 2023-11-02 21:23 hdfs://nn:9000/sf.parquet/part-00011-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   33487699 2023-11-02 21:23 hdfs://nn:9000/sf.parquet/part-00012-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   34899250 2023-11-02 21:24 hdfs://nn:9000/sf.parquet/part-00013-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   35715225 2023-11-02 21:24 hdfs://nn:9000/sf.parquet/part-00014-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   35768659 2023-11-02 21:24 hdfs://nn:9000/sf.parquet/part-00015-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   29362733 2023-11-02 21:24 hdfs://nn:9000/sf.parquet/part-00016-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet

In [62]:
# Spark is designed to work with Parquet directories like this (this arrangement is quite common), so no need to combine
# loading in the Parquet files is much faster than CSV (column format, compression)
df = spark.read.format("parquet").load("hdfs://nn:9000/sf.parquet/")

In [63]:
df

DataFrame[Call_Number: int, Unit_ID: string, Incident_Number: int, Call_Type: string, Call_Date: string, Watch_Date: string, Received_DtTm: string, Entry_DtTm: string, Dispatch_DtTm: string, Response_DtTm: string, On_Scene_DtTm: string, Transport_DtTm: string, Hospital_DtTm: string, Call_Final_Disposition: string, Available_DtTm: string, Address: string, City: string, Zipcode_of_Incident: int, Battalion: string, Station_Area: string, Box: string, Original_Priority: string, Priority: string, Final_Priority: int, ALS_Unit: boolean, Call_Type_Group: string, Number_of_Alarms: int, Unit_Type: string, Unit_sequence_in_call_dispatch: int, Fire_Prevention_District: string, Supervisor_District: string, Neighborhooods_-_Analysis_Boundaries: string, RowID: string, case_location: string, Analysis_Neighborhoods: int]

#### Generally, load CSV, transform data, write to Parquet, and then use Parquet for analysis exclusively!

In [64]:
# Less partitions are needed (before when we read in text, numPartitions was 17) because of compression, column format (text is way bloated)
# Spark is smart enough to realize that we can use fewer partitions than files because the files are smaller
df.rdd.getNumPartitions()

6

In [65]:
# at this point, we can remove the sf.csv from HDFS because we don't need it (have it in Parquet format), free up space
! hdfs dfs -rm hdfs://nn:9000/sf.csv

Deleted hdfs://nn:9000/sf.csv

In [67]:
df = spark.read.format("parquet").load("hdfs://nn:9000/sf.parquet")

In [71]:
df.createOrReplaceTempView("calls")    # better than createView(), handles case where need to run code again