In [3]:
!ls -lah

total 521M
drwxr-xr-x 3 root root 4.0K Nov  2 19:34 .
drwxr-xr-x 1 root root 4.0K Nov  2 02:37 ..
drwxr-xr-x 2 root root 4.0K Nov  2 19:32 .ipynb_checkpoints
-rw-r--r-- 1 root root 2.3K Nov  2 19:34 Untitled.ipynb
-rw-r--r-- 1 root root  11M Jan 12  2023 ghcnd-stations.txt
-rw-r--r-- 1 root root 511M Mar  4  2023 sf.zip
-rw-r--r-- 1 root root  21K Nov  2 19:31 spark_dataframes_1.ipynb
-rw-r--r-- 1 root root  36K Nov  2 02:50 spark_demo_1.ipynb
-rw-r--r-- 1 root root  13K Nov  2 03:48 spark_demo_2.ipynb

In [2]:
! wget -nc https://pages.cs.wisc.edu/~harter/cs544/data/sf.zip

--2023-11-02 19:33:37--  https://pages.cs.wisc.edu/~harter/cs544/data/sf.zip
Resolving pages.cs.wisc.edu (pages.cs.wisc.edu)... 128.105.7.9
Connecting to pages.cs.wisc.edu (pages.cs.wisc.edu)|128.105.7.9|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 534803160 (510M) [application/zip]
Saving to: ‘sf.zip’

sf.zip              100%[===================>] 510.03M  8.14MB/s    in 38s

2023-11-02 19:34:15 (13.5 MB/s) - ‘sf.zip’ saved [534803160/534803160]

In [2]:
# The Spark session is a little different this time
# adding the Hive warehouse option (treat HDFS files as if they are SQL tables in a database)
from pyspark.sql import SparkSession
spark = (SparkSession.builder.appName("cs544")
         .master("spark://boss:7077")
         .config("spark.executor.memory", "512MB")   # needed to increase this memory to fix the error (minimum of 450 MB)
         .config("spark.sql.warehouse.dir", "hdfs://nn:9000/user/hive/warehouse")
         .enableHiveSupport()
         .getOrCreate())

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/03 01:21:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
# minimum Spark executor memory needed (from error) in MB = 450 MB
471859200 / 1024**2

450.0

In [10]:
! apt-get install unzip

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  zip
The following NEW packages will be installed:
  unzip
0 upgraded, 1 newly installed, 0 to remove and 0 not upgraded.
Need to get 174 kB of archives.
After this operation, 385 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 unzip amd64 6.0-26ubuntu3.1 [174 kB]
Fetched 174 kB in 1s (242 kB/s)
debconf: delaying package configuration, since apt-utils is not installed
Selecting previously unselected package unzip.
(Reading database ... 20105 files and directories currently installed.)
Preparing to unpack .../unzip_6.0-26ubuntu3.1_amd64.deb ...
Unpacking unzip (6.0-26ubuntu3.1) ...
Setting up unzip (6.0-26ubuntu3.1) ...

In [11]:
! unzip sf.zip

Archive:  sf.zip
  inflating: sf.csv

In [12]:
! hdfs dfs -cp sf.csv hdfs://nn:9000/

In [13]:
! hdfs dfs -ls hdfs://nn:9000/

Found 2 items
-rw-r--r--   3 root supergroup   10607756 2023-11-02 04:06 hdfs://nn:9000/ghcnd-stations.txt
-rw-r--r--   3 root supergroup 2265533682 2023-11-02 20:24 hdfs://nn:9000/sf.csv

In [15]:
df = spark.read.format("csv").load("hdfs://nn:9000/sf.csv")

In [17]:
df.limit(3).toPandas()    # Header row not being treated as a header

23/11/02 20:40:34 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,_c25,_c26,_c27,_c28,_c29,_c30,_c31,_c32,_c33,_c34
0,Call Number,Unit ID,Incident Number,Call Type,Call Date,Watch Date,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,...,Call Type Group,Number of Alarms,Unit Type,Unit sequence in call dispatch,Fire Prevention District,Supervisor District,Neighborhooods - Analysis Boundaries,RowID,case_location,Analysis Neighborhoods
1,221210313,E36,22054955,Outside Fire,05/01/2022,04/30/2022,05/01/2022 02:58:25 AM,05/01/2022 02:59:15 AM,05/01/2022 02:59:25 AM,05/01/2022 03:01:06 AM,...,Fire,1,ENGINE,1,2,5,Hayes Valley,221210313-E36,POINT (-122.42316555403964 37.77781524520032),9
2,220190150,E29,22008871,Alarms,01/19/2022,01/18/2022,01/19/2022 01:42:12 AM,01/19/2022 01:44:13 AM,01/19/2022 01:44:28 AM,01/19/2022 01:46:47 AM,...,Alarm,1,ENGINE,1,3,10,Potrero Hill,220190150-E29,POINT (-122.39469970274361 37.76460987856451),26

In [18]:
#df = spark.read.format("csv").option(KEY, VALUE).load("hdfs://nn:9000/sf.csv")
df = (spark.read.format("csv")
      .option("header", True)
      .load("hdfs://nn:9000/sf.csv"))

In [19]:
df.limit(3).toPandas()    #  Now the header is loaded in properly

,Call Number,Unit ID,Incident Number,Call Type,Call Date,Watch Date,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,...,Call Type Group,Number of Alarms,Unit Type,Unit sequence in call dispatch,Fire Prevention District,Supervisor District,Neighborhooods - Analysis Boundaries,RowID,case_location,Analysis Neighborhoods
0,221210313,E36,22054955,Outside Fire,05/01/2022,04/30/2022,05/01/2022 02:58:25 AM,05/01/2022 02:59:15 AM,05/01/2022 02:59:25 AM,05/01/2022 03:01:06 AM,...,Fire,1,ENGINE,1,2,5,Hayes Valley,221210313-E36,POINT (-122.42316555403964 37.77781524520032),9
1,220190150,E29,22008871,Alarms,01/19/2022,01/18/2022,01/19/2022 01:42:12 AM,01/19/2022 01:44:13 AM,01/19/2022 01:44:28 AM,01/19/2022 01:46:47 AM,...,Alarm,1,ENGINE,1,3,10,Potrero Hill,220190150-E29,POINT (-122.39469970274361 37.76460987856451),26
2,211233271,T07,21053032,Alarms,05/03/2021,05/03/2021,05/03/2021 09:28:12 PM,05/03/2021 09:28:12 PM,05/03/2021 09:28:17 PM,05/03/2021 09:29:10 PM,...,Alarm,1,TRUCK,2,2,9,Mission,211233271-T07,POINT (-122.42057572093252 37.76418194637148),20

In [20]:
df # but everything is a string (schema inference is not done by default because it's expensive)

DataFrame[Call Number: string, Unit ID: string, Incident Number: string, Call Type: string, Call Date: string, Watch Date: string, Received DtTm: string, Entry DtTm: string, Dispatch DtTm: string, Response DtTm: string, On Scene DtTm: string, Transport DtTm: string, Hospital DtTm: string, Call Final Disposition: string, Available DtTm: string, Address: string, City: string, Zipcode of Incident: string, Battalion: string, Station Area: string, Box: string, Original Priority: string, Priority: string, Final Priority: string, ALS Unit: string, Call Type Group: string, Number of Alarms: string, Unit Type: string, Unit sequence in call dispatch: string, Fire Prevention District: string, Supervisor District: string, Neighborhooods - Analysis Boundaries: string, RowID: string, case_location: string, Analysis Neighborhoods: string]

In [21]:
# This operation is much slower because we need a separate Spark job to do the schema inference
# 17 tasks total (17 partitions, Spark automatically chooses based on file size and workers available in the cluster)
df = (spark.read.format("csv")
      .option("header", True)
      .option("inferSchema", True)
      .load("hdfs://nn:9000/sf.csv"))

In [22]:
df    # Spark Schema Inference is still not smart enough to convert the dates from string to actual dates, so we need to manually fix this
# This is "Transformation" work (the T in ETL)
# Load (L) is into Parquet files

DataFrame[Call Number: int, Unit ID: string, Incident Number: int, Call Type: string, Call Date: string, Watch Date: string, Received DtTm: string, Entry DtTm: string, Dispatch DtTm: string, Response DtTm: string, On Scene DtTm: string, Transport DtTm: string, Hospital DtTm: string, Call Final Disposition: string, Available DtTm: string, Address: string, City: string, Zipcode of Incident: int, Battalion: string, Station Area: string, Box: string, Original Priority: string, Priority: string, Final Priority: int, ALS Unit: boolean, Call Type Group: string, Number of Alarms: int, Unit Type: string, Unit sequence in call dispatch: int, Fire Prevention District: string, Supervisor District: string, Neighborhooods - Analysis Boundaries: string, RowID: string, case_location: string, Analysis Neighborhoods: int]

#### How to transform data with functions on columns?

In [6]:
from pyspark.sql.functions import col, expr

In [25]:
col("Call Date")

Column<'Call Date'>

In [26]:
expr("Call Date")    # notice how expr thinks "Date" is an alias for "Call"

Column<'Call AS Date'>

In [8]:
# Selecting a column (specify column name using pyspark.sql.functions.col() ) works similar to SQL
example = (df.select(col("Call_Date"))
            .limit(5)
            .toPandas())
example

    Call_Date
0  05/13/2020
1  05/03/2020
2  04/17/2020
3  04/25/2020
4  05/17/2020

In [5]:
# Be careful when using pyspark.sql.functions.expr(); we get an error because of the aliasing the expression is trying to do
example = (df.select(expr("Call Date") )
            .limit(5)
            .toPandas())
example

NameError: name 'expr' is not defined

In [31]:
# Put your column name in backticks (`) when using pyspark.sql.functions.expr() if the column name has a space (good practice in general)
example = (df.select(expr("`Call Date`") )
            .limit(5)
            .toPandas())
example

    Call Date
0  05/01/2022
1  01/19/2022
2  05/03/2021
3  10/20/2021
4  04/30/2022

In [34]:
# We can alias columns in Spark DataFrames too
example = (df.select(expr("`Call Date`").alias("My Alias")) 
            .limit(5)
            .toPandas())
example

     My Alias
0  05/01/2022
1  01/19/2022
2  05/03/2021
3  10/20/2021
4  04/30/2022

In [38]:
# Let's convert the data type from string to date
example = (df.select(expr("to_date(`Call Date`, 'MM/dd/yyyy')").alias("Column formatted as Date now")) 
            .limit(5)
            .toPandas())
example

  Column formatted as Date now
0                   2022-05-01
1                   2022-01-19
2                   2021-05-03
3                   2021-10-20
4                   2022-04-30

#### Goal: Create a parquet file with this data, with no spaces in the column names

In [45]:
df.columns[ : 5]    # a list of strings (the column headers)

['Call Number', 'Unit ID', 'Incident Number', 'Call Type', 'Call Date']

In [46]:
[col(c) for c in df.columns][ : 5]    # get a Column object for each of the column names in the DataFrame

[Column<'Call Number'>,
 Column<'Unit ID'>,
 Column<'Incident Number'>,
 Column<'Call Type'>,
 Column<'Call Date'>]

In [47]:
columns = [col(c).alias(c.replace(' ', '_')) for c in df.columns]    # rename the columns by removing space and replacing with underscore
columns[ : 5]

[Column<'Call Number AS Call_Number'>,
 Column<'Unit ID AS Unit_ID'>,
 Column<'Incident Number AS Incident_Number'>,
 Column<'Call Type AS Call_Type'>,
 Column<'Call Date AS Call_Date'>]

In [49]:
df.select(columns)   # now our select is using the aliases we made and the output has no spaces in the column header

DataFrame[Call_Number: int, Unit_ID: string, Incident_Number: int, Call_Type: string, Call_Date: string, Watch_Date: string, Received_DtTm: string, Entry_DtTm: string, Dispatch_DtTm: string, Response_DtTm: string, On_Scene_DtTm: string, Transport_DtTm: string, Hospital_DtTm: string, Call_Final_Disposition: string, Available_DtTm: string, Address: string, City: string, Zipcode_of_Incident: int, Battalion: string, Station_Area: string, Box: string, Original_Priority: string, Priority: string, Final_Priority: int, ALS_Unit: boolean, Call_Type_Group: string, Number_of_Alarms: int, Unit_Type: string, Unit_sequence_in_call_dispatch: int, Fire_Prevention_District: string, Supervisor_District: string, Neighborhooods_-_Analysis_Boundaries: string, RowID: string, case_location: string, Analysis_Neighborhoods: int]

In [55]:
df.rdd.getNumPartitions()

17

In [57]:
# let's load our dataframe with underscore headers into a parquet file
# read data from file into a dataframe using spark.read (gives us a pyspark.sql.readwriter.DataFromeReader)
# write data from dataframe into file using df.write (gives us a pyspark.sql.readwriter.DataFrameWriter)

(df.select(columns)
 .limit(10)    # small amount to test
 .write
 .format("parquet")
 .save("hdfs://nn:9000/sf.parquet"))

# 17 tasks because Spark uses 17 partitions for the DataFrame

In [58]:
# Since the write for a small amount worked, let's try for the whole dataset
(df.select(columns)
 .write
 .format("parquet")
 .save("hdfs://nn:9000/sf.parquet"))

# ERROR: we have to specify if we want to overwrite the existing files

AnalysisException: [PATH_ALREADY_EXISTS] Path hdfs://nn:9000/sf.parquet already exists. Set mode as "overwrite" to overwrite the existing path.

In [59]:
(df.select(columns)
 .write
 .format("parquet")
 .mode("overwrite")    # could also be append (keep adding), ignore (do nothing if the file already exists), etc.
 .save("hdfs://nn:9000/sf.parquet"))

In [60]:
# So what do the parquet files that Spark wrote look like in HDFS?
! hdfs dfs -ls hdfs://nn:9000/    

# It's a directory called "sf.parquet", not a single file called "sf.parquet"!

Found 3 items
-rw-r--r--   3 root supergroup   10607756 2023-11-02 04:06 hdfs://nn:9000/ghcnd-stations.txt
-rw-r--r--   3 root supergroup 2265533682 2023-11-02 20:24 hdfs://nn:9000/sf.csv
drwxr-xr-x   - root supergroup          0 2023-11-02 21:24 hdfs://nn:9000/sf.parquet

In [61]:
# we have 17 different files, 1 per partition/Spark task
! hdfs dfs -ls hdfs://nn:9000/sf.parquet/

Found 18 items
-rw-r--r--   3 root supergroup          0 2023-11-02 21:24 hdfs://nn:9000/sf.parquet/_SUCCESS
-rw-r--r--   3 root supergroup   27805433 2023-11-02 21:22 hdfs://nn:9000/sf.parquet/part-00000-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   27788944 2023-11-02 21:22 hdfs://nn:9000/sf.parquet/part-00001-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   40477903 2023-11-02 21:22 hdfs://nn:9000/sf.parquet/part-00002-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   36016086 2023-11-02 21:22 hdfs://nn:9000/sf.parquet/part-00003-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   36031567 2023-11-02 21:22 hdfs://nn:9000/sf.parquet/part-00004-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   36080343 2023-11-02 21:23 hdfs://nn:9000/sf.parquet/part-00005-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   35943551 2023-11-02 21:23 hdfs://nn:9000/sf.parquet/part-00006-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   35910610 2023-11-02 21:23 hdfs://nn:9000/sf.parquet/part-00007-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   36435318 2023-11-02 21:23 hdfs://nn:9000/sf.parquet/part-00008-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   35366522 2023-11-02 21:23 hdfs://nn:9000/sf.parquet/part-00009-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   34237927 2023-11-02 21:23 hdfs://nn:9000/sf.parquet/part-00010-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   33947693 2023-11-02 21:23 hdfs://nn:9000/sf.parquet/part-00011-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   33487699 2023-11-02 21:23 hdfs://nn:9000/sf.parquet/part-00012-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   34899250 2023-11-02 21:24 hdfs://nn:9000/sf.parquet/part-00013-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   35715225 2023-11-02 21:24 hdfs://nn:9000/sf.parquet/part-00014-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   35768659 2023-11-02 21:24 hdfs://nn:9000/sf.parquet/part-00015-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet
-rw-r--r--   3 root supergroup   29362733 2023-11-02 21:24 hdfs://nn:9000/sf.parquet/part-00016-6630bd23-68db-484b-84f9-41b7807a17cc-c000.snappy.parquet

In [4]:
# Spark is designed to work with Parquet directories like this (this arrangement is quite common), so no need to combine
# loading in the Parquet files is much faster than CSV (column format, compression)
df = spark.read.format("parquet").load("hdfs://nn:9000/sf.parquet/")

In [63]:
df

DataFrame[Call_Number: int, Unit_ID: string, Incident_Number: int, Call_Type: string, Call_Date: string, Watch_Date: string, Received_DtTm: string, Entry_DtTm: string, Dispatch_DtTm: string, Response_DtTm: string, On_Scene_DtTm: string, Transport_DtTm: string, Hospital_DtTm: string, Call_Final_Disposition: string, Available_DtTm: string, Address: string, City: string, Zipcode_of_Incident: int, Battalion: string, Station_Area: string, Box: string, Original_Priority: string, Priority: string, Final_Priority: int, ALS_Unit: boolean, Call_Type_Group: string, Number_of_Alarms: int, Unit_Type: string, Unit_sequence_in_call_dispatch: int, Fire_Prevention_District: string, Supervisor_District: string, Neighborhooods_-_Analysis_Boundaries: string, RowID: string, case_location: string, Analysis_Neighborhoods: int]

#### Generally, load CSV, transform data, write to Parquet, and then use Parquet for analysis exclusively!

In [64]:
# Less partitions are needed (before when we read in text, numPartitions was 17) because of compression, column format (text is way bloated)
# Spark is smart enough to realize that we can use fewer partitions than files because the files are smaller
df.rdd.getNumPartitions()

6

In [65]:
# at this point, we can remove the sf.csv from HDFS because we don't need it (have it in Parquet format), free up space
! hdfs dfs -rm hdfs://nn:9000/sf.csv

Deleted hdfs://nn:9000/sf.csv

In [67]:
df = spark.read.format("parquet").load("hdfs://nn:9000/sf.parquet")

In [10]:
# a view is somewhat like an RDD; instructions on how to generate the table if needed, but doesn't materialize until needed
df.createOrReplaceTempView("calls")    # better than createView(), handles case where need to run code again

In [73]:
# spark.sql returns a DataFrame back (DF run on top of RDD), so no work has been done yet
spark.sql("""
SELECT 
    *
FROM
    calls
LIMIT
    3
""")

DataFrame[Call_Number: int, Unit_ID: string, Incident_Number: int, Call_Type: string, Call_Date: string, Watch_Date: string, Received_DtTm: string, Entry_DtTm: string, Dispatch_DtTm: string, Response_DtTm: string, On_Scene_DtTm: string, Transport_DtTm: string, Hospital_DtTm: string, Call_Final_Disposition: string, Available_DtTm: string, Address: string, City: string, Zipcode_of_Incident: int, Battalion: string, Station_Area: string, Box: string, Original_Priority: string, Priority: string, Final_Priority: int, ALS_Unit: boolean, Call_Type_Group: string, Number_of_Alarms: int, Unit_Type: string, Unit_sequence_in_call_dispatch: int, Fire_Prevention_District: string, Supervisor_District: string, Neighborhooods_-_Analysis_Boundaries: string, RowID: string, case_location: string, Analysis_Neighborhoods: int]

In [74]:
# we can use an action to trigger the query to run
# this triggers the view to calculate and then the query to run, giving us a DataFrame back
spark.sql("""
SELECT 
    *
FROM
    calls
LIMIT
    3
""").toPandas()

,Call_Number,Unit_ID,Incident_Number,Call_Type,Call_Date,Watch_Date,Received_DtTm,Entry_DtTm,Dispatch_DtTm,Response_DtTm,...,Call_Type_Group,Number_of_Alarms,Unit_Type,Unit_sequence_in_call_dispatch,Fire_Prevention_District,Supervisor_District,Neighborhooods_-_Analysis_Boundaries,RowID,case_location,Analysis_Neighborhoods
0,201340825,T06,20055834,Other,05/13/2020,05/13/2020,05/13/2020 08:51:30 AM,05/13/2020 08:51:30 AM,05/13/2020 08:54:56 AM,05/13/2020 08:55:10 AM,...,Alarm,1,TRUCK,1,2,8,Mission,201340825-T06,POINT (-122.42251458613262 37.770727334245194),20
1,201241707,FB3,20052084,Outside Fire,05/03/2020,05/03/2020,05/03/2020 01:46:02 PM,05/03/2020 01:46:02 PM,05/03/2020 01:46:11 PM,05/03/2020 01:47:41 PM,...,Alarm,1,SUPPORT,2,1,3,Financial District/South Beach,201241707-FB3,POINT (-122.3946511276673 37.79530574375478),8
2,201083222,AM118,20045948,Medical Incident,04/17/2020,04/17/2020,04/17/2020 09:19:43 PM,04/17/2020 09:19:43 PM,04/17/2020 09:21:10 PM,04/17/2020 09:21:55 PM,...,Non Life-threatening,1,PRIVATE,2,2,6,South of Market,201083222-AM118,POINT (-122.41071806030364 37.778959763358266),34

In [75]:
# we can use an action to trigger the query to run
spark.sql("""
SHOW TABLES
""").show()

23/11/02 22:53:50 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
23/11/02 22:53:50 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
23/11/02 22:53:57 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
23/11/02 22:53:57 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore UNKNOWN@172.25.0.6
23/11/02 22:53:57 WARN ObjectStore: Failed to get database default, returning NoSuchObjectException
23/11/02 22:53:58 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |    calls|       true|
+---------+---------+-----------+

In [86]:
# Since spark.sql is returning a DataFrame, we can write to a table
# same df.write methodology as before
# This takes a while: Spark needs to filter the large dataset (exists on 6 different partitions) and then creates a table
spark.sql("""
SELECT 
    *
FROM
    calls
WHERE
    Call_Type LIKE "Odor%"
""").write.mode("overwrite").saveAsTable("stinky")

In [79]:
spark.sql("""
SHOW TABLES
""").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  default|   stinky|      false|
|         |    calls|       true|
+---------+---------+-----------+

In [80]:
# Where's the table? The tables are created in the Hive directory we specified when creating the Spark session.
! hdfs dfs -ls hdfs://nn:9000/user/hive/warehouse

Found 1 items
drwxr-xr-x   - root supergroup          0 2023-11-02 22:56 hdfs://nn:9000/user/hive/warehouse/stinky

In [87]:
# The table actually exists as 6 parquet files in the Hive directory (6 = numPartitions of the DF from reading in the non-filtered parquet)
! hdfs dfs -ls hdfs://nn:9000/user/hive/warehouse/stinky

Found 7 items
-rw-r--r--   3 root supergroup          0 2023-11-02 23:02 hdfs://nn:9000/user/hive/warehouse/stinky/_SUCCESS
-rw-r--r--   3 root supergroup     334214 2023-11-02 23:02 hdfs://nn:9000/user/hive/warehouse/stinky/part-00000-dffd4c29-e9d2-47f9-80ac-fd59e12c55c4-c000.snappy.parquet
-rw-r--r--   3 root supergroup     370478 2023-11-02 23:02 hdfs://nn:9000/user/hive/warehouse/stinky/part-00001-dffd4c29-e9d2-47f9-80ac-fd59e12c55c4-c000.snappy.parquet
-rw-r--r--   3 root supergroup     173436 2023-11-02 23:02 hdfs://nn:9000/user/hive/warehouse/stinky/part-00002-dffd4c29-e9d2-47f9-80ac-fd59e12c55c4-c000.snappy.parquet
-rw-r--r--   3 root supergroup     209189 2023-11-02 23:02 hdfs://nn:9000/user/hive/warehouse/stinky/part-00003-dffd4c29-e9d2-47f9-80ac-fd59e12c55c4-c000.snappy.parquet
-rw-r--r--   3 root supergroup     138716 2023-11-02 23:02 hdfs://nn:9000/user/hive/warehouse/stinky/part-00004-dffd4c29-e9d2-47f9-80ac-fd59e12c55c4-c000.snappy.parquet
-rw-r--r--   3 root supergroup      70149 2023-11-02 23:02 hdfs://nn:9000/user/hive/warehouse/stinky/part-00005-dffd4c29-e9d2-47f9-80ac-fd59e12c55c4-c000.snappy.parquet

In [89]:
# Even though writing the table took 6 partitions, when Spark reads it in, it can be smart and choose less partitions (here it's chosen 2)
# because the data is smaller (stinky is a subset of calls) so we don't need as many partitions to fit chunks of data in memory
spark.sql("""
SELECT
    *
FROM
    stinky
""").rdd.getNumPartitions()

2

In [90]:
spark.table("calls")    # pass a view to .table(), get a DataFrame

DataFrame[Call_Number: int, Unit_ID: string, Incident_Number: int, Call_Type: string, Call_Date: string, Watch_Date: string, Received_DtTm: string, Entry_DtTm: string, Dispatch_DtTm: string, Response_DtTm: string, On_Scene_DtTm: string, Transport_DtTm: string, Hospital_DtTm: string, Call_Final_Disposition: string, Available_DtTm: string, Address: string, City: string, Zipcode_of_Incident: int, Battalion: string, Station_Area: string, Box: string, Original_Priority: string, Priority: string, Final_Priority: int, ALS_Unit: boolean, Call_Type_Group: string, Number_of_Alarms: int, Unit_Type: string, Unit_sequence_in_call_dispatch: int, Fire_Prevention_District: string, Supervisor_District: string, Neighborhooods_-_Analysis_Boundaries: string, RowID: string, case_location: string, Analysis_Neighborhoods: int]

In [91]:
spark.table("stinky")    # pass a table to .table(), get a DataFrame

DataFrame[Call_Number: int, Unit_ID: string, Incident_Number: int, Call_Type: string, Call_Date: string, Watch_Date: string, Received_DtTm: string, Entry_DtTm: string, Dispatch_DtTm: string, Response_DtTm: string, On_Scene_DtTm: string, Transport_DtTm: string, Hospital_DtTm: string, Call_Final_Disposition: string, Available_DtTm: string, Address: string, City: string, Zipcode_of_Incident: int, Battalion: string, Station_Area: string, Box: string, Original_Priority: string, Priority: string, Final_Priority: int, ALS_Unit: boolean, Call_Type_Group: string, Number_of_Alarms: int, Unit_Type: string, Unit_sequence_in_call_dispatch: int, Fire_Prevention_District: string, Supervisor_District: string, Neighborhooods_-_Analysis_Boundaries: string, RowID: string, case_location: string, Analysis_Neighborhoods: int]

### Grouping, and other queries

In [13]:
df.withColumnRenamed("Neighborhooods_-_Analysis_Boundaries", "area").createOrReplaceTempView("calls")    # rename a column we'll be using to be simpler

In [93]:
spark.sql("""
SHOW TABLES
""").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  default|   stinky|      false|
|         |    calls|       true|
+---------+---------+-----------+

In [100]:
# now we can see our renamed column
spark.sql("""
SELECT
    area
    , *
FROM
    calls
LIMIT
    5
""").toPandas()

,area,Call_Number,Unit_ID,Incident_Number,Call_Type,Call_Date,Watch_Date,Received_DtTm,Entry_DtTm,Dispatch_DtTm,...,Call_Type_Group,Number_of_Alarms,Unit_Type,Unit_sequence_in_call_dispatch,Fire_Prevention_District,Supervisor_District,area,RowID,case_location,Analysis_Neighborhoods
0,Mission,201340825,T06,20055834,Other,05/13/2020,05/13/2020,05/13/2020 08:51:30 AM,05/13/2020 08:51:30 AM,05/13/2020 08:54:56 AM,...,Alarm,1,TRUCK,1,2,8,Mission,201340825-T06,POINT (-122.42251458613262 37.770727334245194),20
1,Financial District/South Beach,201241707,FB3,20052084,Outside Fire,05/03/2020,05/03/2020,05/03/2020 01:46:02 PM,05/03/2020 01:46:02 PM,05/03/2020 01:46:11 PM,...,Alarm,1,SUPPORT,2,1,3,Financial District/South Beach,201241707-FB3,POINT (-122.3946511276673 37.79530574375478),8
2,South of Market,201083222,AM118,20045948,Medical Incident,04/17/2020,04/17/2020,04/17/2020 09:19:43 PM,04/17/2020 09:19:43 PM,04/17/2020 09:21:10 PM,...,Non Life-threatening,1,PRIVATE,2,2,6,South of Market,201083222-AM118,POINT (-122.41071806030364 37.778959763358266),34
3,Tenderloin,201160160,54,20048802,Medical Incident,04/25/2020,04/24/2020,04/25/2020 01:39:37 AM,04/25/2020 01:41:00 AM,04/25/2020 01:42:09 AM,...,Potentially Life-Threatening,1,MEDIC,1,2,6,Tenderloin,201160160-54,POINT (-122.41632744176792 37.78244849821827),36
4,Mission Bay,201382742,70,20057634,Medical Incident,05/17/2020,05/17/2020,05/17/2020 06:16:44 PM,05/17/2020 06:19:46 PM,05/17/2020 06:20:39 PM,...,Non Life-threatening,1,MEDIC,1,3,6,Mission Bay,201382742-70,POINT (-122.39820071397247 37.772033503746634),4

In [101]:
# DISTINCT example using SQL: what areas are in SF?
spark.sql("""
SELECT DISTINCT
    area
FROM
    calls
""").toPandas()

                              area
0                     Inner Sunset
1                   Haight Ashbury
2                     Lincoln Park
3                        Japantown
4                             None
5                      North Beach
6                Lone Mountain/USF
7                 Western Addition
8                   Bernal Heights
9                      Mission Bay
10                    Hayes Valley
11  Financial District/South Beach
12                       Lakeshore
13           Bayview Hunters Point
14               Visitacion Valley
15                  Inner Richmond
16                        Nob Hill
17      Oceanview/Merced/Ingleside
18                  Outer Richmond
19                 Treasure Island
20                       Chinatown
21                         Mission
22                       Excelsior
23                      Twin Peaks
24                        Seacliff
25                 Sunset/Parkside
26                Presidio Heights
27                         Portola
28                Golden Gate Park
29                       Glen Park
30                    McLaren Park
31                        Presidio
32                      Tenderloin
33                    Potrero Hill
34                   Outer Mission
35             Castro/Upper Market
36                          Marina
37                      Noe Valley
38                    Russian Hill
39                 South of Market
40                 Pacific Heights
41              West of Twin Peaks

In [109]:
# DISTINCT example using Spark: what areas are in SF?
df.select("Neighborhooods_-_Analysis_Boundaries").distinct().toPandas()

   Neighborhooods_-_Analysis_Boundaries
0                          Inner Sunset
1                        Haight Ashbury
2                          Lincoln Park
3                             Japantown
4                                  None
5                           North Beach
6                     Lone Mountain/USF
7                      Western Addition
8                        Bernal Heights
9                           Mission Bay
10                         Hayes Valley
11       Financial District/South Beach
12                            Lakeshore
13                Bayview Hunters Point
14                    Visitacion Valley
15                       Inner Richmond
16                             Nob Hill
17           Oceanview/Merced/Ingleside
18                       Outer Richmond
19                      Treasure Island
20                            Chinatown
21                              Mission
22                            Excelsior
23                           Twin Peaks
24                             Seacliff
25                      Sunset/Parkside
26                     Presidio Heights
27                              Portola
28                     Golden Gate Park
29                            Glen Park
30                         McLaren Park
31                             Presidio
32                           Tenderloin
33                         Potrero Hill
34                        Outer Mission
35                  Castro/Upper Market
36                               Marina
37                           Noe Valley
38                         Russian Hill
39                      South of Market
40                      Pacific Heights
41                   West of Twin Peaks

In [113]:
# Using SQL: how many calls per area in SF?
spark.sql("""
SELECT
    area
    , count(*) as `Num_Calls`
FROM
    calls
GROUP BY
    area
ORDER BY
    count(*) DESC
""").toPandas()

                              area  Num_Calls
0                       Tenderloin     809041
1                  South of Market     583631
2                          Mission     543289
3   Financial District/South Beach     402331
4            Bayview Hunters Point     326423
5                  Sunset/Parkside     233135
6                 Western Addition     222759
7                         Nob Hill     198957
8                   Outer Richmond     159714
9                     Hayes Valley     148946
10             Castro/Upper Market     144533
11              West of Twin Peaks     131856
12                     North Beach     126516
13                 Pacific Heights     125234
14                       Chinatown     123221
15                       Excelsior     120771
16                          Marina     116713
17                  Bernal Heights     113744
18                    Potrero Hill     110187
19                    Inner Sunset      95266
20                    Russian Hill      92968
21                  Haight Ashbury      89918
22                   Outer Mission      87582
23                       Lakeshore      87206
24                  Inner Richmond      84338
25      Oceanview/Merced/Ingleside      84027
26               Visitacion Valley      77346
27               Lone Mountain/USF      72502
28                     Mission Bay      72477
29                      Noe Valley      65199
30                         Portola      57161
31                       Japantown      53161
32                Presidio Heights      52465
33                 Treasure Island      40610
34                      Twin Peaks      35483
35                Golden Gate Park      35188
36                       Glen Park      28906
37                        Presidio      23613
38                            None      16743
39                        Seacliff      10052
40                    McLaren Park       6941
41                    Lincoln Park       5903

In [117]:
# How many calls are there per group/type?
spark.sql("""
SELECT
    Call_Type_Group
    , Call_Type    
    , count(*) as `Num_Calls`
FROM
    calls
GROUP BY
    Call_Type_Group
    , Call_Type
ORDER BY
    count(*) DESC
""").toPandas()

                 Call_Type_Group                         Call_Type  Num_Calls
0                           None                  Medical Incident    1783402
1   Potentially Life-Threatening                  Medical Incident    1448636
2           Non Life-threatening                  Medical Incident     716653
3                           None                    Structure Fire     416250
4                          Alarm                            Alarms     366116
..                           ...                               ...        ...
73                         Alarm                      Vehicle Fire         13
74                          Fire                 Train / Rail Fire         10
75                          None  Lightning Strike (Investigation)          9
76                         Alarm                         Oil Spill          5
77                          Fire                    Administrative          1

[78 rows x 3 columns]

In [119]:
# Using SQL: For each group, what percentage of calls are represented by the biggest type (ex. 80% of Fires are Train/Rail Fires)?
spark.sql("""
SELECT
    Call_Type_Group
    , (MAX(count) / SUM(count)) * 100 as Percent
FROM
    (
    SELECT
        Call_Type_Group
        , Call_Type    
        , count(*) as `count`
    FROM
        calls
    GROUP BY
        Call_Type_Group
        , Call_Type
    ) subq
GROUP BY
    Call_Type_Group
ORDER BY
    Percent DESC
""").toPandas()

                Call_Type_Group    Percent
0  Potentially Life-Threatening  94.230156
1          Non Life-threatening  92.417455
2                          None  63.295298
3                         Alarm  48.662342
4                          Fire  38.300729

In [132]:
# Using Spark: For each group, what percentage of calls are represented by the biggest type (ex. 80% of Fires are Train/Rail Fires)?
(spark.table("calls")
 .groupby("Call_Type_Group", "Call_Type")   # gives us GroupedData; to transform GroupedData to a DataFrame, we need to aggregate
 .count()    # this count is not an action (results might be intermediate), it's a transformation (gives us back a DataFrame with "count" column added)
 .groupby("Call_Type_Group")
 .agg(expr("MAX(count) * 100 / SUM(count)").alias("Percent"))   # GroupedData.agg() lets us do more complex aggregates than count/max/avg/etc. 
 .orderBy("Percent", ascending=False)
).toPandas()

                Call_Type_Group    Percent
0  Potentially Life-Threatening  94.230156
1          Non Life-threatening  92.417455
2                          None  63.295298
3                         Alarm  48.662342
4                          Fire  38.300729

In [126]:
# Example intermediate results
(spark.table("calls")
 .groupby("Call_Type_Group", "Call_Type")
 .count()
 # .groupby("Call_Type_Group")
 # .agg(expr("MAX(count)"))
).toPandas()

                 Call_Type_Group                            Call_Type  count
0                           None          Elevator / Escalator Rescue   7062
1                           None                          Marine Fire    222
2                           None                   Aircraft Emergency   1263
3                           None  Confined Space / Structure Collapse    286
4                           None                       Administrative    306
..                           ...                                  ...    ...
73                         Alarm               Watercraft in Distress     14
74                          Fire                    Train / Rail Fire     10
75                         Alarm                         Vehicle Fire     13
76                          Fire                       Administrative      1
77  Potentially Life-Threatening                       Structure Fire     16

[78 rows x 3 columns]

In [11]:
# Example intermediate results
(spark.table("calls")
 .groupby("Call_Type_Group", "Call_Type")
 .count()
 .groupby("Call_Type_Group")
 .agg(expr("MAX(count)"))
).toPandas()

                Call_Type_Group  max(count)
0                         Alarm      366116
1                          None     1783402
2  Potentially Life-Threatening     1448636
3          Non Life-threatening      716653
4                          Fire       51061

#### Windowing Example

In [18]:
# What are the 3 smallest call numbers for each area?
# we can try to rank the call numbers relative to the area (ROW NUM and ORDER BY) to get the minimum 3
spark.sql("""
SELECT
    *
FROM
    (
    SELECT
        area,
        Call_Number,
        ROW_NUMBER() OVER(PARTITION BY area ORDER BY Call_Number) as row_num
    FROM
        calls
    )
WHERE
    row_num <= 3   -- Using a subquery here is tedious, would rather avoid if possible
LIMIT
    10
""").toPandas()

                    area  Call_Number  row_num
0  Bayview Hunters Point      1030119        1
1  Bayview Hunters Point      1040031        2
2  Bayview Hunters Point      1040078        3
3         Bernal Heights      1040089        1
4         Bernal Heights      1040245        2
5         Bernal Heights      1040246        3
6    Castro/Upper Market      1040038        1
7    Castro/Upper Market      1040038        2
8    Castro/Upper Market      1040038        3
9              Chinatown      1030120        1

In [19]:
# We can use the fact that we're dealing with DataFrames here to avoid the subquery
spark.sql("""
    SELECT
        area,
        Call_Number,
        ROW_NUMBER() OVER(PARTITION BY area ORDER BY Call_Number) as row_num
    FROM
        calls
""").where("row_num <= 3").limit(10).toPandas()

                    area  Call_Number  row_num
0  Bayview Hunters Point      1030119        1
1  Bayview Hunters Point      1040031        2
2  Bayview Hunters Point      1040078        3
3         Bernal Heights      1040089        1
4         Bernal Heights      1040245        2
5         Bernal Heights      1040246        3
6    Castro/Upper Market      1040038        1
7    Castro/Upper Market      1040038        2
8    Castro/Upper Market      1040038        3
9              Chinatown      1030120        1